.App{
display: flex;
text-align: center;
}
.item{
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 4px;
  min-width: 80px;
  text-align: center;
  margin-right: 5px;
  margin-top: 10px;
  margin-left: 5px;
}
.childItem{
  display: flex;
}
button{
  margin: 0px 10px;
}